/*Back1: #0B090A*/
/*Back2: #161A1D*/
/*RED1: #BA181B*/
/*RED2: #E5383B*/
/*WHITE1: #FFFFFF*/

/*Generico*/
body{
    font-family: 'Epilogue', sans-serif;
    color: #0B090A;
}

.btn{
    padding: 20px 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1rem;
}

.btn-sm{
    padding: 12px 24px;
    font-size: 0.9rem;
}

.btn-sm:hover{
    background-color: #161A1D;
}

.btn-primary{
    background-color: #BA181B;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-primary:hover{
    background-color: #E5383B;
}


.btn-outline{
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.btn-outline:hover{
    border-color: #D9D9D9;
    color: #D9D9D9;
}

.container{
    margin: 0 auto;
    max-width: 1280px;
}

.overtitle{
    font-size: 16px;
    line-height: 24px;
    color: #BA181B;
    font-weight: 700;
    text-transform: uppercase;
}

.title{
    font-size: 44px;
    line-height: 56px;
    font-weight: 700;
}

/*Layout*/

#header-container{
    background-color: #0B090A;
}

.header{
    padding: 24px 72px;
    color:#FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Hero*/

#hero-container{
    background-color: #0B090A;
    color: #FFFFFF;
    padding: 0 72px;
}

.hero{
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 96px 0;
    flex: 1;
}

.hero-img{
    flex: 1;
    align-self: flex-end;
}

.hero-img img{
    max-width: 100%;
}

.btn-red{
    background-color: #BA181B;
}

.hero-text__title{
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
}

.hero-texte__P{
    font-size: 20px;
    line-height: 28px;
    max-width: 520px;
}

/*Services Section*/

#services-container{
    padding: 96px 72px;
}

.services-list{
    margin-top: 48px;
    display: flex;
    gap:32px
}


.service-card{
    background-color: #f5f3f4;
    border: 2px solid #D3D3D3;  
}

.service-card img{
    width: 100%;
}

.service-card__text{
    padding: 32px;
}

.service-card__text h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

.service-card__text p{
    font-size: 16px;
    line-height: 24px;
}

/*Location*/

#location-caontainer{
    background-color: #F5F3F4;
    padding: 48px 24px 0;
}

#location-caontainer header{
    padding: 48px;
}

#location-caontainer address{
    display: flex;
    align-items: center;
    gap: 12px;
}

footer{
    background-color: #0B090A;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 50px 48px;
    align-items: center;
}

.footer-logocopy{
    display: flex;
    flex-direction: column;
    gap: 16px
}

.icones svg{
    width: 30px;
}


@media screen  and (max-width: 480px){
    .header, #hero-container,#services-container, #location-caontainer{
        margin: auto;
        width: 100%;
        padding: 0;
    }

    #header-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
    }

    .hero, .services-list{
        display: flex;
        flex-direction: column;
    }

    .hero-text,.hero-img{
        display: flex;
        justify-content: center;
        padding: 48px 20px;
        align-items: center;
        gap: 20px;
    }

    .hero-text__title{
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
    }

    .hero-texte__P, .service-card p{
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
    }

    .btn-primary{
        width: 300px;
        height: 40px;
        justify-content: center;
    }

    #services-container{
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    .services{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px 20px;
        gap: 10px;
    }

    .service-card h3{
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
    }

    .container span{
        font-weight: 800;
        font-size: 12px;
        line-height: 16px;
    }

    .container h2{
        font-weight: 800;
        font-size: 28px;
        line-height: 36px;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}